.mention {
	border-radius: 3px;
	padding: 0 2px;
}

.interactive {
	-webkit-transition: background-color 50ms ease-out, color 50ms ease-out;
	transition: background-color 50ms ease-out, color 50ms ease-out;
	cursor: pointer;
}

.wrapper-1ZcZW- {
	border-radius: 3px;
	padding: 0 2px;
	font-weight: 500;
	unicode-bidi: -moz-plaintext;
	unicode-bidi: plaintext;
	color: 235 calc(1 * 86.2%) 88.6%;
	background: hsl(235 calc(1 * 85.6%) 64.7%/0.3);
}

.mention.interactive:hover {
	text-decoration: underline;
}

.interactive:hover {
	color: hsl(0 calc(1 * 0%) 100%/1);
	background-color: hsl(235 calc(1 * 85.6%) 64.7%/1);
}

.mention {
	border-radius: 3px;
	padding: 0 2px;
}

.interactive {
	-webkit-transition: background-color 50ms ease-out, color 50ms ease-out;
	transition: background-color 50ms ease-out, color 50ms ease-out;
	cursor: pointer;
}

.wrapper-1ZcZW- {
	font-weight: 500;
	unicode-bidi: plaintext;
	background: hsl(235 calc(1 * 85.6%) 64.7%/0.3);
}

.disabledPointerEvents-cGr1My {
	pointer-events: none;
}

.layer-2BGhQ8 {
	position: absolute;
	pointer-events: auto;
}

.theme-dark {
	--brightness: calc(1.5 - 1 * 0.5);
	--contrast: 1;
}

.theme-dark .tooltipGreen-cAApx5,
.theme-light .tooltipGreen-cAApx5 {
	color: hsl(0 calc(1 * 0%) 100%/1);
	background-color: hsl(145 calc(1 * 65%) 39.2%/1);
}

.theme-dark .tooltip-33Jwqe,
.theme-light .tooltip-33Jwqe {
	-webkit-box-shadow: 0 8px 16px hsl(0 calc(1 * 0%) 0%/0.24);
	box-shadow: 0 8px 16px hsl(0 calc(1 * 0%) 0%/0.24);
}

.tooltipTop-CgYHUZ {
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
}

.tooltipDisablePointerEvents-3dgGo3,
.tooltipPointer-sMBQqe {
	pointer-events: none;
}

.tooltip-33Jwqe {
	position: relative;
	border-radius: 5px;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	max-width: 190px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	word-wrap: break-word;
	z-index: 1002;
	will-change: opacity, transform;
}

.theme-dark .tooltipGreen-cAApx5 .tooltipPointer-sMBQqe,
.theme-light .tooltipGreen-cAApx5 .tooltipPointer-sMBQqe {
	border-top-color: hsl(145 calc(1 * 65%) 39.2%/1);
}

.tooltipTop-CgYHUZ .tooltipPointer-sMBQqe {
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
}

.tooltipPointer-sMBQqe {
	width: 0;
	height: 0;
	border: 5px solid transparent;
}

.tooltipDisablePointerEvents-3dgGo3,
.tooltipPointer-sMBQqe {
	pointer-events: none;
}

.tooltipContent-38tm3I {
	padding: 8px 12px;
	overflow: hidden;
}
