.discord-tag {
	border-radius: 3px;
	padding: 0 2px;
	-webkit-transition: background-color 50ms ease-out, color 50ms ease-out;
	transition: background-color 50ms ease-out, color 50ms ease-out;
	cursor: pointer;
	font-weight: 500;
	unicode-bidi: -moz-plaintext;
	unicode-bidi: plaintext;
	color: 235 calc(1 * 86.2%) 88.6%;
	background: hsl(235 calc(1 * 85.6%) 64.7%/0.3);
}

.discord-tag:hover {
	text-decoration: underline;
	color: hsl(0 calc(1 * 0%) 100%/1);
	background-color: hsl(235 calc(1 * 85.6%) 64.7%/1);
}

.tooltip-container {
	position: absolute;
	bottom: 100%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.tooltip,
.tooltip-content,
.tooltip-pointer {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	word-wrap: break-word;
	pointer-events: none;
	color: hsl(0 calc(1 * 0%) 100%/1);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.tooltip {
	position: relative;
	border-radius: 5px;
	max-width: 190px;
	padding: 0;
	margin: 0;
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-box-shadow: 0 8px 16px hsl(0 calc(1 * 0%) 0%/0.24);
	box-shadow: 0 8px 16px hsl(0 calc(1 * 0%) 0%/0.24);
	opacity: 1;
	transform: none;
	background-color: hsl(145 calc(1 * 65%) 39.2%/1);
	z-index: 1002;
	will-change: opacity, transform;
}

.tooltip-content {
	margin: 0;
	padding: 8px 12px;
	overflow: hidden;
}

.tooltip-pointer {
	padding: 0;
	margin: 0;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	position: absolute;
	top: 100%;
	margin-left: -5px;
	border-top-color: hsl(145 calc(1 * 65%) 39.2%/1);
	left: calc(50% + 0px);
}

.emoji {
	display: inline-block;
	width: auto;
	height: 1em;
	vertical-align: -0.125em;
	transform: translateY(100%);
}
